.titulo-inst{
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
}
.subtitulo-inst{
    width: 80%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 25px;
}

.texto-inst{
    width: 80%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 25px;
}

.list-inst{
    width: 80%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 25px;
}

.box-border{
    margin: 2rem;
    padding: 10px;
    border: 1px solid var(--cinza-ml);
    background-color: var(--branco-apple);
    border-radius: 20px;
    text-align: center;
}

.btn-inst{
    border-radius: 20px;
    font-weight: 600;
    padding: 15px;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 15px;
    border-color: var(--verde-feliz);
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.btn-inst:hover{
    color: white;
    transform: scale(1.2);
    background-color: var(--verde-feliz);
}