.content-product{
    width: 80%;
    max-width: 600px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin-top: 25px;
    left: 50%;
    transform: translate(-50%);
}

.sub-text{
    font-size: 1.3rem;
}

.foto{
    max-width: 600px;
}

.verificado {
    display: inline-block;
}

.titulo-produto{
    font-weight: 500;
    font-size: 2.0rem;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
}

.bold{
    font-weight: 700;
}

.bold-600{
    font-weight: 600;
}

.btn-product{
    color: white;
    background: #3acc00;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    height: 50px;
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 20px;
    border: none;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    justify-content: center;
    cursor: pointer;
    transition: ease-in-out .3s;
}

.produto-inicio-btn{
    display: flex;
    transform: scale(1.2);
    animation: pulse 2s infinite;
}

.btn-product:hover{
    align-items: center;
    /* transform: scale(1.08); */
    font-size: 1.8rem;
    height: 60px;
    font-weight: 630;
    width: 110%;
    max-width: 520px;
}

.btn-description{
    color: white;
    background: #3acc00;
    border-radius: 10px;
    width: 85%;
    max-width: 400px;
    height: 50px;
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;  
}

.verde-ml{
    color: #00ac50;
}

.disclaimer-product{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.disclaimer-two{
    display: flex;
    margin-bottom: 15px;
}

.disclaimer-icon{
    margin-right: 20px;
    position: relative;
    left: 0px;
}

.disclaimer-text{
    font-size: 1.4rem;
}

.azul-link{
    color: #3483fa;
    cursor: pointer;
}

.payment-method{
    background-color: var(--branco-apple);
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 20px;
    text-align: center;
}

.bot-20{
    margin-bottom: 20px;
}

.rate-stars{
    display: inline-flex;
}

.price{
display: flex;
align-items: baseline;
}

.price-min{
    font-size: 1.4rem;
    color: red;
    text-decoration: line-through;
}

.price-max{
    font-size: 2.8rem;
    font-weight: 600;
    color: black;
}

.max-w-300{
    width: 90%;
    max-width: 300px;
}

.description-img{
    width: 80%;
    max-width: 400px;
    padding: 10px;
    border-radius: 5px;
}

.description-title{
    color: black;
    font-size: 1.9rem;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px ;
    font-weight: 600;
    text-align: center;
}

.description-text{
    color: var(--cinza-ml);
    padding: 25px;
    font-size: 1.6rem;
}

.description-grey{
    background-color: var(--branco-apple);
}

.description-white{
    background-color: white;
}

.mw-600{
    max-width: 600px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.selo-footer{
    padding-top: 20px;
    width: 85%;
    max-width: 420px;
}

@keyframes pulse {
	0% {
        transform: scale(0.97);
	}
	70% {
        transform: scale(1.03);
	}
	100% {
        transform: scale(0.97);
	}
}

@media (min-width: 600px){
    .inicio-produto{
        display: flex;
        align-items: flex-start;
    }

    .inicio-produto-one{
        width: 50%;
    }

    .inicio-produto-two{
        padding-top: 20px;
        position: relative;
        width: 45%;
        padding-left: 5%;
        max-width: 500px;
    }
}