.produto{
    /* text-align: center; */
    /* margin-left: 1.5rem; */
    /* margin-right: 1.5rem; */
    margin: 1.5rem;
}

.sub-text{
    font-size: 14px;

}

.verificado {
    display: inline-block;
}

.titulo-produto{
    font-weight: 500;
    font-size: 22px;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
}

.bold{
    font-weight: 700;
}
.bold-600{
    font-weight: 600;
}

.btn-product{
    color: white;
    background: #3acc00;
    border-radius: 40px;
    width: 90%;
    max-width: 350px;
    height: 60px;
    border: 0;
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

.verde-ml{
    color: #00ac50;
}

.disclaimer-product{
    /* text-align: center; */
    margin-top: 25px;
    margin-bottom: 25px;
    
}

.disclaimer-two{
    /* text-align: center; */
    display: flex;
    margin-bottom: 15px;
}

.disclaimer-icon{
    margin-right: 20px;
}

.disclaimer-text{
    font-size: 16px;
}

.azul-link{
    color: #3483fa;
    cursor: pointer;
}

.payment-method{
    background-color: #f4f4f4;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 20px;
    text-align: center;
}

.bot-20{
    margin-bottom: 20px;
}

.rate-stars{
    display: inline-flex;
}


.price{
display: flex;
align-items: baseline;
}

.price-min{
    font-size: 18px;
    color: red;
    text-decoration: line-through;

}

.price-max{
    font-size: 34px;
    font-weight: 600;
    color: black;
}

.max-w-300{
    width: 90%;
    max-width: 300px;
}

@media (max-width: 370px){



}