li{
    font-size: 14px;
}

.main{
    background-color: #f4f4f4;
    font-size: 14px;
    text-align: center;
    color: #666666;
}

.footer-cima{
    /* display: grid; */
    /* grid-template-columns: 200px 200px 200px; */
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.footer-baixo{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.tres{
    /* min-width: 24.99%; */
    text-align: center;
    align-items: center;
    justify-content: center;
    display: inline;
    padding: 1.5rem;
    height: 100%;
    width: 100%;
}

.tres-icons{
    /* min-width: 24.99%; */
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    /* padding: 3.5rem; */
    height: 100%;
    width: 100%;
}

.logo-footer{
    padding-top: 20px;
}

.copy{
    font-size: 12px;
    text-align: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
}

.titulo-tres{
    font-weight: 500;
    color: black;
    padding-bottom: 10px;
    transition: ease-in-out 0.2s;
    width: fit-content;
}

.titulo-tres:hover{
    /* transform: scale(1.2); */
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #66666666;
    background-color: #ffffff;
    border-radius: 20px;
}


.redirect{
    transition: ease-in-out 0.133s;
}

.redirect:hover{
    transform: scale(1.2);
    font-size: 16px;
    font-weight: 700;
    color: #3acc00;
}

.subtext1-tres{
    display: none;
    padding: 15px;
    background-color: #ffffff;
    margin: 10px;
    border: 1px solid #666666;
    border-radius: 20px;
    filter: drop-shadow(5px 5px 10px #666666);
}

.subtext2-tres{
    padding: 15px;
    text-align: center;
    display: none;
    padding-top: 0px;
    background-color: #ffffff;
    border: 1px solid #666666;
    border-radius: 20px;
    margin: 10px;
    filter: drop-shadow(5px 5px 10px #666666);
}

.subtext3-tres{
    background-color: #ffffff;
    display: none;
    padding: 15px;
    padding-top: 0px;
    border: 1px solid #666666;
    border-radius: 20px;
    margin: 10px;
    filter: drop-shadow(5px 5px 10px #666666);
}