li{
    font-size: 1.4rem;
    padding-top: 8px;
}

.main{
    background-color: var(--branco-apple);
    font-size: 1.4rem;
    text-align: center;
    color: var(--cinza-ml);
}

.footer-cima{
    /* display: grid; */
    /* grid-template-columns: 200px 200px 200px; */
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.footer-baixo{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.tres-div{
    width: 33%;
    /* min-width: 24.99%; */
    text-align: center;
    align-items: center;
    justify-content: center;
    display: inline;
    padding: 1.5rem;
    min-height: 30px;
    width: 100%;
}

.tres-div-border{
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}

.tres{
    width: 33%;
    /* min-width: 24.99%; */
    text-align: center;
    align-items: center;
    justify-content: center;
    display: inline;
    padding: 1.5rem;
    height: 100%;
    width: 100%;
}

.tres-icons{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    max-width: 320px;
}

.logo-footer{
    padding-top: 20px;
    width: 60%;
    max-width: 220px;
}

.payments-footer{
    padding-top: 20px;
    width: 90%;
    max-width: 320px;
}

.copy{
    font-size: 1.2rem;
    text-align: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 400px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.titulo-tres{
    /* font-weight: 500; */
    color: var(--cinza-ml);
    padding-bottom: 10px;
    transition: ease-in-out 0.2s;
    /* width: fit-content; */
    text-align: center;
    cursor: pointer;
}

.titulo-tres:hover{
    color: #3acc00;
    transform: scale(1.2);
    /* padding: 10px; */
    font-weight: 700;
    /* cursor: pointer; */
    /* border: 1px solid var(--cinza-ml); */
    /* background-color: #ffffff; */
    /* border-radius: 20px; */
}

.redirect{
    transition: ease-in-out 0.133s;
}

.redirect:hover{
    transform: scale(1.2);
    font-size: 1.6rem;
    font-weight: 700;
    color: #3acc00;
}

.borda-clicada{
    padding: 15px;
    background-color: #ffffff;
    /* margin: 10px; */
    border-radius: 20px;
    /* filter: drop-shadow(5px 5px 10px #6666667c); */
    border: 1px solid #66666666;
    width: 70%;
    max-width: 600px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.subtext1-tres{
    display: block;
}
.subtext2-tres{
    display: none;
}
.subtext3-tres{
    display: none;
}

.img-redondo{
    margin-bottom: 10px;
}


@media (max-width: 300px){
    
    .footer-cima{
         display: none;
        }
    .borda-clicada{
        margin-top: 20px;
        }

}
